# Estatística Descritiva com Pandas

Importando a biblioteca pandas

In [2]:
import pandas as pd

### Criando um DataFrame

In [5]:
dados = {'nome': ['João', 'Maria', 'Gabriel', 'Pedro', 'Eduardo'], 
        'idade': [42, 52, 36, 24, 73], 
        'pontuacaoPreTeste': [4, 24, 31, 2, 3],
        'pontuacaoPosTeste': [25, 94, 57, 62, 70]}

df = pd.DataFrame(dados, columns = ['nome','idade','pontuacaoPreTeste','pontuacaoPosTeste'])
df

      nome  idade  pontuacaoPreTeste  pontuacaoPosTeste
0     João     42                  4                 25
1    Maria     52                 24                 94
2  Gabriel     36                 31                 57
3    Pedro     24                  2                 62
4  Eduardo     73                  3                 70

Breve descrição do DataFrame

In [9]:
df.describe()

           idade  pontuacaoPreTeste  pontuacaoPosTeste
count   5.000000           5.000000           5.000000
mean   45.400000          12.800000          61.600000
std    18.460769          13.663821          24.905823
min    24.000000           2.000000          25.000000
25%    36.000000           3.000000          57.000000
50%    42.000000           4.000000          62.000000
75%    52.000000          24.000000          70.000000
max    73.000000          31.000000          94.000000

Retorna uma tupla representando a dimensionalidade do DataFrame

In [8]:
df.shape

(5, 4)

Obtém a soma de todas as idades

In [33]:
df['idade'].sum()

227

Obtém a média da pontuaçãoPreTeste

In [12]:
df['pontuacaoPreTeste'].mean()

12.8

Obtém a soma cumulativa

In [13]:
df['pontuacaoPreTeste'].cumsum()

0     4
1    28
2    59
3    61
4    64
Name: pontuacaoPreTeste, dtype: int64

Sumário de Estatísticas em pontuacaoPreTeste

In [15]:
df['pontuacaoPreTeste'].describe()

count     5.000000
mean     12.800000
std      13.663821
min       2.000000
25%       3.000000
50%       4.000000
75%      24.000000
max      31.000000
Name: pontuacaoPreTeste, dtype: float64

Conta o número de valores NA (None, NaN, NaT)

In [35]:
df['pontuacaoPreTeste'].count()

5

Retorna o valor mínimo

In [18]:
df['pontuacaoPreTeste'].min()

2

Retorna o valor máximo

In [19]:
df['pontuacaoPreTeste'].max()

31

Retorna o valor da mediana

In [21]:
df['pontuacaoPreTeste'].median()

4.0

Retorna o valor da variância imparcial do eixo

In [23]:
df['pontuacaoPreTeste'].var()

186.7

Retorna o desvio padrão

In [25]:
df['pontuacaoPreTeste'].std()

13.663820841916802

Retorna a inclinação imparcial do eixo normalizada em N-1

In [27]:
df['pontuacaoPreTeste'].skew()

0.7433452457326751

Computa a correlação de colunas emparelhadas

In [36]:
df.corr()

                      idade  pontuacaoPreTeste  pontuacaoPosTeste
idade              1.000000          -0.105651           0.328852
pontuacaoPreTeste -0.105651           1.000000           0.378039
pontuacaoPosTeste  0.328852           0.378039           1.000000

Computa a covariância entre as séries do DataFrame, o DataFrame retornado é a matriz de covariância das colunas do DataFrame

In [37]:
df.cov()

                    idade  pontuacaoPreTeste  pontuacaoPosTeste
idade              340.80             -26.65             151.20
pontuacaoPreTeste  -26.65             186.70             128.65
pontuacaoPosTeste  151.20             128.65             620.30