# Estatística Descritiva com Pandas

Importando a biblioteca pandas

In [3]:
import pandas as pd

### Criando um DataFrame

In [12]:
dados = {'nome': ['João', 'Maria', 'Gabriel', 'Pedro', 'Eduardo', 'José'], 
        'idade': [42, 52, 36, 24, 73, 36], 
        'pontuacaoPreTeste': [4, 24, 31, 2, 3, 24],
        'pontuacaoPosTeste': [25, 94, 57, 62, 70, 63]}

df = pd.DataFrame(dados, columns = ['nome','idade','pontuacaoPreTeste','pontuacaoPosTeste'])
df

      nome  idade  pontuacaoPreTeste  pontuacaoPosTeste
0     João     42                  4                 25
1    Maria     52                 24                 94
2  Gabriel     36                 31                 57
3    Pedro     24                  2                 62
4  Eduardo     73                  3                 70
5     José     36                 24                 63

Breve descrição do DataFrame

In [13]:
df.describe()

           idade  pontuacaoPreTeste  pontuacaoPosTeste
count   6.000000           6.000000           6.000000
mean   43.833333          14.666667          61.833333
std    16.951893          13.048627          22.283776
min    24.000000           2.000000          25.000000
25%    36.000000           3.250000          58.250000
50%    39.000000          14.000000          62.500000
75%    49.500000          24.000000          68.250000
max    73.000000          31.000000          94.000000

Retorna uma tupla representando a dimensionalidade do DataFrame

In [14]:
df.shape

(6, 4)

Obtém a soma de todas as idades

In [15]:
df['idade'].sum()

263

Obtém a média da pontuaçãoPreTeste

In [16]:
df['pontuacaoPreTeste'].mean()

14.666666666666666

Obtém a moda da pontuaçãoPreTeste

In [18]:
df['pontuacaoPreTeste'].mode()

0    24
dtype: int64

Obtém a soma cumulativa

In [19]:
df['pontuacaoPreTeste'].cumsum()

0     4
1    28
2    59
3    61
4    64
5    88
Name: pontuacaoPreTeste, dtype: int64

Sumário de Estatísticas em pontuacaoPreTeste

In [20]:
df['pontuacaoPreTeste'].describe()

count     6.000000
mean     14.666667
std      13.048627
min       2.000000
25%       3.250000
50%      14.000000
75%      24.000000
max      31.000000
Name: pontuacaoPreTeste, dtype: float64

Conta o número de valores NA (None, NaN, NaT)

In [21]:
df['pontuacaoPreTeste'].count()

6

Retorna o valor mínimo

In [22]:
df['pontuacaoPreTeste'].min()

2

Retorna o valor máximo

In [23]:
df['pontuacaoPreTeste'].max()

31

Retorna o valor da mediana

In [24]:
df['pontuacaoPreTeste'].median()

14.0

Retorna o valor da variância imparcial do eixo

In [25]:
df['pontuacaoPreTeste'].var()

170.26666666666668

Retorna o desvio padrão

In [26]:
df['pontuacaoPreTeste'].std()

13.048627003124377

Retorna a inclinação imparcial do eixo normalizada em N-1

In [27]:
df['pontuacaoPreTeste'].skew()

0.15522324866784104

Computa a correlação de colunas emparelhadas

In [28]:
df.corr()

                      idade  pontuacaoPreTeste  pontuacaoPosTeste
idade              1.000000          -0.175709           0.314404
pontuacaoPreTeste -0.175709           1.000000           0.362941
pontuacaoPosTeste  0.314404           0.362941           1.000000

Computa a covariância entre as séries do DataFrame, o DataFrame retornado é a matriz de covariância das colunas do DataFrame

In [29]:
df.cov()

                        idade  pontuacaoPreTeste  pontuacaoPosTeste
idade              287.366667         -38.866667         118.766667
pontuacaoPreTeste  -38.866667         170.266667         105.533333
pontuacaoPosTeste  118.766667         105.533333         496.566667